* {
    font-family: 'Segoe UI';
    margin: 0;
}

body {
    width: 100%;
}

.panel {
    font-size: 12px;
    text-align: center;
    width: 100px;
    background-color: #232923;
    position: fixed;
    height: 100%;
}

.panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.panel ul img {
    width: 20px;
    height: 20px;
}

.panel li a {
    display: block;
    color: #888;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-decoration: none;
    border: none;
}

.panel li a.active {
    color: #ffffff;
    font-weight: bold;
}

.panel li a:hover:not(.active) {
    color: #ffffff;
    font-weight: bold;
}

.menu {
    padding: 20px;
    background-color: #f6f6f6;
    margin-left: 82%;
    position: fixed;
    height: 100%;
    width: 20%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul img {
    width: 20px;
    height: 20px;
}

.menu li button {
    display: block;
    color: #555555;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #f6f6f6;
}

.menu li button.active {
    color: #4CAF50;
    font-weight: bold;
}

.menu li button:hover:not(.active) {
    background-color: #ffffff;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.box {
    padding-bottom: 20px;
    font-size: 14px;
}

.name {
    color: #111111;
    font-size: 22px;
}

.infor {
    color: #999;
    font-size: 14px;
    padding-bottom: 15px;
}

.title {
    font-size: 14px;
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main {
    margin-left: 6%;
    width: 74%;
}

.apptitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile {
    padding-left: 23%;
    padding-right: 10%;
}

.url {
    padding-left: 3%;
    padding-top: 1%;
}

.btn-edit {
    background-color: #3eb743;
    color: #fff;
    padding: 9px 15px;
    border-radius: 4px;
    height: fit-content;
    margin-top: 15px;
}

.btn-edit:hover {
    cursor: pointer;
}

.name-pos {
    color: #222;
    font-size: 18px;
    font-weight: 300;
}

.label {
    font-size: 11px;
    color: #CCCCCC;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 4%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 70%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }